<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>irodori-table</id>
    <version>__VERSION__</version>
    <title>Irodori Table</title>
    <authors>Irodori Table contributors</authors>
    <projectUrl>https://irodori-table.github.io/irodori-docs/</projectUrl>
    <packageSourceUrl>https://github.com/irodori-table/irodori-table</packageSourceUrl>
    <licenseUrl>https://github.com/irodori-table/irodori-table/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/irodori-table/irodori-table</projectSourceUrl>
    <bugTrackerUrl>https://github.com/irodori-table/irodori-table/issues</bugTrackerUrl>
    <docsUrl>https://irodori-table.github.io/irodori-docs/</docsUrl>
    <tags>sql database developer-tools query-editor tauri</tags>
    <summary>Open-source SQL workbench for multiple database engines.</summary>
    <description>Irodori Table is a local-first desktop database workbench for SQL editing, schema inspection, result browsing, and database workflows. It is a development preview; review SQL before running destructive commands.</description>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
