# Maintainer: __AUR_MAINTAINER__
pkgname=irodori-table-bin
pkgver=__VERSION__
pkgrel=1
pkgdesc="Open-source SQL workbench for multiple database engines"
arch=('x86_64')
url="https://irodori-table.github.io/irodori-docs/"
license=('MIT' '0BSD')
depends=('webkit2gtk-4.1' 'libsoup3' 'openssl')
# Replace any earlier Irodori Table package so pacman removes the old install
# before laying down this build instead of leaving both in place.
provides=('irodori-table')
conflicts=('irodori-table')
replaces=('irodori-table')
options=('!strip')
source=(
  "https://github.com/irodori-table/irodori-table/releases/download/v${pkgver}/__LINUX_APPIMAGE_ASSET__"
  "irodori-table.desktop"
  "irodori-table.png"
)
sha256sums=(
  '__SHA256_LINUX_APPIMAGE__'
  '__SHA256_DESKTOP_FILE__'
  '__SHA256_ICON_FILE__'
)

package() {
  install -Dm755 "${srcdir}/__LINUX_APPIMAGE_ASSET__" "${pkgdir}/opt/irodori-table/Irodori Table.AppImage"
  install -Dm644 "${srcdir}/irodori-table.desktop" "${pkgdir}/usr/share/applications/irodori-table.desktop"
  install -Dm644 "${srcdir}/irodori-table.png" "${pkgdir}/usr/share/icons/hicolor/512x512/apps/irodori-table.png"
  install -dm755 "${pkgdir}/usr/bin"
  ln -s "/opt/irodori-table/Irodori Table.AppImage" "${pkgdir}/usr/bin/irodori-table"
}
